{% sw_extends '@ShopwareBundlePlugin/storefront/element/cms-element-cmsbundle-hero-slider.html.twig' %}

{% block element_cmsbundle_image_container %}
    <div class="hero-slide__content {{className}} h-100 d-flex flex-md-row flex-column  justify-content-center justify-content-md-between p-3 position-relative">
            <div class="d-flex flex-column justify-content-{{alignment}} align-items-{{titlePosition}} hero-slider__wrap">
            <div {% if title %}class="hero-slider__content"{% endif %}>
                {% if title %}
                    <{{titleHeading}} class="h1">{{ title }}</{{titleHeading}}>
                {% endif %}

                {% if subTitle %}
                    <{{subTitleHeading}}>{{ subTitle }}</{{subTitleHeading}}>
                {% endif %}

                {% if content %}
                    <p>{{ content|raw }}</p>
                {% endif %}

                {% if buttonText1 %}
                <div class="d-flex align-items-center">
                    <a href="{{ url1 }}" class="btn btn-{{ buttonType1 }} text-white" {% if newTab1 %} target="_blank" {% endif %} aria-hidden="false">{{ buttonText1 }}
                    <span class="icon icon-right-arrow"></span></a>
                </div>
                {% endif %}

                {% if buttonText2 %}
                 <div class="d-flex align-items-center">
                    <a href="{{ url2 }}" class="btn btn-{{ buttonType2 }} text-white" {% if newTab2 %} target="_blank" {% endif %}>{{ buttonText2 }}<span class="icon icon-right-arrow"></span></a>
                 </div>
                {% endif %}

                {% if buttonText3 %}
                 <div class="d-flex align-items-center">
                    <a href="{{ url3 }}" class="btn btn-{{ buttonType3 }} text-white" {% if newTab3 %} target="_blank" {% endif %}>{{ buttonText3 }}<span class="icon icon-right-arrow"></span></a>
                </div>
                {% endif %}
            </div>
            </div>
        {% if element.data.mediaDesktop.url %}
            <div class="cms-image-container p-2 {% if (element.config.imageHorizontalAlignment.value == 'left') %}order-first{% endif %} d-flex justify-content-center align-items-center">
                {% block element_cmsbundle_image_media %}
                    {% set attributes = {
                                'class': 'cms-image img-fluid',
                                'alt': (element.data.mediaDesktop.translated.alt ?: ''),
                                'title': (element.data.mediaDesktop.translated.title ?: ''),
                            } %}
                    {% set desktopMedia = element.data.mediaDesktop %}
                    {% set tabletMedia = element.data.mediaTablet %}
                    {% set mobileMedia = element.data.mediaMobile %}
                    {% if (desktopMedia || tabletMedia || mobileMedia) %}
                        <picture>
                            {% if desktopMedia != null %}
                                <source media="(min-width: {{ theme_config('breakpoint.lg') }}px)" srcset="{{ desktopMedia.url | sw_encode_url }}" type="{{ desktopMedia.mimeType }}"/>
                            {% endif %}
                            {% if tabletMedia != null %}
                                <source media="(min-width: {{ theme_config('breakpoint.md') }}px)" srcset="{{ tabletMedia.url | sw_encode_url }}" type="{{ tabletMedia.mimeType }}"/>
                            {% endif %}
                            {% if tabletMedia == null %}
                                <source media="(min-width: {{ theme_config('breakpoint.md') }}px)" srcset="{{ desktopMedia.url | sw_encode_url }}" type="{{ desktopMedia.mimeType }}"/>
                            {% endif %}
                            {% if mobileMedia != null %}
                                <source media="(min-width: {{ theme_config('breakpoint.sm') }}px)" srcset="{{ mobileMedia.url | sw_encode_url }}" type="{{ mobileMedia.mimeType }}"/>
                                {% for thumbnailMobile in mobileMedia.thumbnails %}
                                    {% if thumbnailMobile.width == '400' %}
                                        <source media="(max-width: {{ theme_config('breakpoint.sm') - 1 }}px)" srcset="{{ thumbnailMobile.url | sw_encode_url }}" type="{{ mobileMedia.mimeType }}"/>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if mobileMedia == null %}
                                <source media="(min-width: {{ theme_config('breakpoint.sm') }}px)" srcset="{{ desktopMedia.url | sw_encode_url }}" type="{{ desktopMedia.mimeType }}"/>
                                {% for thumbnailDesktop in desktopMedia.thumbnails %}
                                    {% if thumbnailDesktop.width == '400' %}
                                        <source media="(max-width: {{ theme_config('breakpoint.sm') - 1 }}px)" srcset="{{ thumbnailDesktop.url | sw_encode_url }}" type="{{ thumbnailDesktop.mimeType }}"/>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <img src="{{ desktopMedia|sw_encode_media_url }}" {% for key, value in attributes %} {% if value != '' %} {{ key }}="{{ value }}" {% endif %} {% endfor %} width="{{ (desktopMedia.metaData.width / 2) | round }}" height="{{ (desktopMedia.metaData.height / 2) | round }}" {% if lazyload == true %} loading="lazy" {% else %} fetchpriority="high" {% endif %} alt="hero-banner"/>
                        </picture>
                    {% endif %}
                {% endblock %}
            </div>
        {% endif %}
        {% set attributes = {
        'class': 'cms-image w-100 h-auto',
        'alt': (element.data.mediaDesktop.translated.alt ?: ''),
        'title': (element.data.mediaDesktop.translated.title ?: '')
    } %}
        {% set desktopBackgroundMedia = element.data.backgroundDesktop %}
        {% set tabletBackgroundMedia = element.data.backgroundTablet %}
        {% set mobileBackgroundMedia = element.data.backgroundMobile %}
        {% if (desktopBackgroundMedia || tabletBackgroundMedia || mobileBackgroundMedia) %}
            <div class="hero-slide__background {% if isBgImage %} position-absolute top-0 bottom-0 start-0 w-100 {% else %}position-absolute {% endif %}  top-0 start-0 w-100 h-100" style="z-index: -2">
                <picture>
                    {% if desktopBackgroundMedia != null %}
                        <source media="(min-width: {{ theme_config('breakpoint.lg') }}px)" srcset="{{ desktopBackgroundMedia.url | sw_encode_url }}" type="{{ desktopBackgroundMedia.mimeType }}"/>
                    {% endif %}
                    {% if tabletBackgroundMedia != null %}
                        <source media="(min-width: {{ theme_config('breakpoint.md') }}px)" srcset="{{ tabletBackgroundMedia.url | sw_encode_url }}" type="{{ tabletBackgroundMedia.mimeType }}"/>
                    {% endif %}
                    {% if tabletBackgroundMedia == null %}
                        <source media="(min-width: {{ theme_config('breakpoint.md') }}px)" srcset="{{ desktopBackgroundMedia.url | sw_encode_url }}" type="{{ desktopBackgroundMedia.mimeType }}"/>
                    {% endif %}
                    {% if mobileBackgroundMedia != null %}
                        <source media="(min-width: {{ theme_config('breakpoint.sm') }}px)" srcset="{{ mobileBackgroundMedia.url | sw_encode_url }}" type="{{ mobileBackgroundMedia.mimeType }}"/>
                        {% for thumbnailMobile in mobileBackgroundMedia.thumbnails %}
                            {% if thumbnailMobile.width == '400' %}
                                <source media="(max-width: {{ theme_config('breakpoint.sm') - 1 }}px)" srcset="{{ thumbnailMobile.url | sw_encode_url }}" type="{{ mobileMedia.mimeType }}"/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if mobileBackgroundMedia == null %}
                        <source media="(min-width: {{ theme_config('breakpoint.sm') }}px)" srcset="{{ desktopBackgroundMedia.url | sw_encode_url }}" type="{{ desktopBackgroundMedia.mimeType }}"/>
                        {% for thumbnailDesktop in desktopBackgroundMedia.thumbnails %}
                            {% if thumbnailDesktop.width == '400' %}
                                <source media="(max-width: {{ theme_config('breakpoint.sm') - 1 }}px)" srcset="{{ thumbnailDesktop.url | sw_encode_url }}" type="{{ thumbnailDesktop.mimeType }}"/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <img src="{{ desktopBackgroundMedia|sw_encode_media_url }}" {% for key, value in attributes %} {% if value != '' %} {{ key }}="{{ value }}" {% endif %} {% endfor %} width="{{ (desktopBackgroundMedia.metaData.width / 2) | round }}" height="{{ (desktopBackgroundMedia.metaData.height / 2) | round }}" {% if lazyload == true %} loading="lazy" {% else %} fetchpriority="high" {% endif %} alt="hero-banner"/>
                </picture>
            </div>
        {% else %}
            {% set backgroundColor = element.config.backgroundColor.value ?? 'white' %}
            <style>
                .{{className}}* {
                    background-color: {{backgroundColor}}
                    ;
                }
            </style>
        {% endif %}
    </div>


{% endblock %}